*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: #333;
  color: #f0f0f0;
}

.calculator {
  max-width: 300px;
  background-color: #0f0f0f;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 15px 10px 0px black;
}

.calculator__screen {
  background-color: #333;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #f0f0f0;
  text-align: end;
  margin-block-end: 0.5rem;
  overflow: scroll;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

button {
  background-color: #333;
  color: inherit;
  width: 3rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

button.operation {
  background-color: #ffaa0f;
}

button:hover {
  background-color: #0f0f0f;
}

button:active {
  background-color: #333;
  color: #0f0f0f;
}

button.operation:hover {
  background-color: #eb7a10;
}

button.operation:active {
  background-color: #ffaa0f;
}
